<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @category.details %>
</p>

<%= link_to 'Edit', edit_category_path %>  

<%= link_to 'Back', categories_path %>


<h2>Tasks</h2>
<% @category.tasks.each do |task| %>
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>
 <p>
    <strong>Status:</strong>
    <% if task.status %>
    <p>complete</p>
    <% else %>
    <p>incomplete</p>
    <% end %>
    
  </p> 


<% end %>

<h2>Add a task:</h2>
<%= form_with model: [ @category, @category.tasks.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
